.sl-about-view {
	p {
		.secondaryFontFamily;
	}

	b {
		.secondaryFontFamily;
		font-weight: bold;
	}

	h3 {
		font-weight: 700;
	}
}
.sl-about-view--dialogue_normal-colors {
	padding: 10px;
}

.sl-about-view--dialogue_reverse-colors {
	background-color: @primaryColor;	
	padding: 10px;
	* {
		background-color: @primaryColor;
		color: @secondaryColor;
	}
}