.sl-main-content {
	min-height: 400px;
}
 
.sl-main-content--header {
	font-size: 120px;
	margin-bottom: -25px;
}

.sl-main-content--subheader {
	padding-bottom: 50px;
}

.sl-main-content--header, .sl-main-content--subheader {
	text-align: center;
}

strong {
	margin-right: -15px;
}