.sl-main-content {
	min-height: 400px;
	margin: 80px 20px 70px 20px;

	@media (min-width: 640px) {
		margin: 80px 20px 20px 20px;
	}

	// border: 10px solid @primaryColor;
}
 
.sl-main-content--header {
	font-size: 2.2em;

	@media (min-width: 375px) {
		font-size: 2.8em;
	}

	@media (min-width: 640px) {
		font-size: 4.1em;
	}

	@media (min-width: 1080px) {
		font-size: 5.6em;
	}

	margin-bottom: 100px;
	line-height: .83em;
}

.sl-main-content--header, .sl-main-content--subheader {
	text-align: center;
}

.sl-main-content--header_accent {
	color: @accentColor;
}

strong {
	margin-right: -5px;
}