.sl-footer { 
	height: 55px;
	padding-bottom: 10px;
	width: 100%;
	background-color: @primaryColor;
	color: @secondaryTextColor;
}

.sl-footer--name-logo {
	.secondaryFontFamily;
	font-size: .8em;
	font-weight: 100;

}