@import url(https://fonts.googleapis.com/css?family=Raleway:700,400,100);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700);

.primaryFontFamily {
	font-family: 'Raleway', sans-serif;
}

.secondaryFontFamily {
	font-family: 'Vollkorn', Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
	.primaryFontFamily;
	font-weight: 100;
	color: @primaryTextColor;
}

strong {
	font-weight: 700;
}

p, ul, li, label, input, header, footer, nav {
	.primaryFontFamily;
	color: @primaryTextColor;
} 

.button-font {
	.primaryFontFamily;
}