// Variables
// @primaryColor: #4183D7;
@primaryColor: #1F4788;
@secondaryColor: white;
// @accentColor: #6BB9F0;
@accentColor: #87D37C;
@accentOrange: #E75926;
@accentRed: #D33257;
@accentYellow: #FEC606;

// Text
@primaryTextColor: @primaryColor;
@secondaryTextColor: @secondaryColor;


@accent-border-style: 1px solid @accentColor;


// Utils
.padded-sides {
	margin: 0 20px;
}

