.sl-navbar {
	.padded-sides;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: @primaryColor;
}

.sl-navbar--item {
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
	color: @secondaryTextColor;
	border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 20ms ease-in;

    &:hover {
    	background-color: @accentColor;
    }
}