.sl-navbar {
	display: flex; 

	@media (min-width: 640px) {	
		display: block;
		padding-bottom: 5px;
	}

	// padding-top: 5px;
	width: 100%;
	background-color: @primaryColor;

	a {
		text-decoration: none;
	}
}

.sl-navbar--item {
	padding-top: 5px;

	&.sl-button__active {	
		@media (min-width: 640px) {
			background-color: @accentColor;
			border-bottom: 1px solid @secondaryTextColor;
		}

		border-bottom: 3px solid @accentColor;
	}
	text-align: center;
	flex: 1;

	@media (min-width: 640px) {
		&:first-child {
			margin-left:10px;
		}
		margin-right: 10px;
		display: inline-block;
		color: @secondaryTextColor;
		border: 1px solid @secondaryColor;
	    padding: 10px 15px;
	    border-radius: 10px;
	}


}